export GOPATH=/Users/whancock/Code/checkup
export GOBIN=/Users/whancock/Code/checkup/bin

if [ ! -d src ]; then
       	mkdir src
fi

if [ ! -d pkg ]; then
        mkdir pkg
fi

if [ ! -d bin ]; then
        mkdir bin
fi
